ITP,NPV,EDA,STATS,ML 

1.Proctor violation exceeds 5 attempts test will be terminated.

2.The test will run in a proctored mode and you will not be allowed to go out of the test window. Failing to adhere to this will result in auto-submission of the test

3.Once the ‘Start Test’ button is clicked the test timer will start

4.The test can only be taken in the fullscreen mode. Disabling the fullscreen will pause the test but not the timer

5.All the responses are automatically updated to the server at the time of test submission

6.Please kindly off all the update notifications pop-ups during the test duration, if something pops up it consider a full-screen violation.

7.Please kindly have proper internet connectivity while taking the test with at least upload speed/download speed more than 1 Mbps.

8.Copy-paste within the test window is permitted, if not able to do and the cell is markdown kindly double tap on the cell once the cell is raw convert can copy-paste, external content copy-paste is not permitted/allowed.

9.ESC can't be used/work during the exam time.

10.Right click over a keypad/mouse should/can not be used.

11. Please maintain an internet speed of least 1 Mbps if possible higher than 5 mbps of upload speed before starting test.

# Section A : 2 Mark Questions : 2 * 3 = 6 Marks

### 1. Write a code snippet to concatenate firstname and lastname and display the output, (where both are of string datatype)

In [1]:
firstname=str(input("First name: "))
lastname=str(input("Last name: "))
fullname=firstname+lastname
print("Full name is: ",fullname)

First name: Pavithra
Last name: Raja
Full name is:  PavithraRaja

### 2. Write a code snippet to replace ‘hai’ into ‘hello’ in the given list.
lis=['hai','world',43,56]

In [2]:
lis=['hai','world',43,56]
lis[0]='hello'
print(lis)

['hello', 'world', 43, 56]

### 3. Write a code snippet to add “alpha”:26 to the existing dictionary.
dic={'Eddy':13,'Maria':44,'Jas':21}

In [3]:
dic={'Eddy':13,'Maria':44,'Jas':21}
dic['alpha']=26
print("dic=",dic)

dic= {'Eddy': 13, 'Maria': 44, 'Jas': 21, 'alpha': 26}

# SECTION B – 3 mark questions  3*8 = 24 marks

### 4. Write a program to print only the even numbers till 11.

In [4]:
for i in range(1,12):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

### 5. Write a program to print “Python” for multiples of three instead of the number, “Coding” for the multiples of five, “Python Coding” for multiples of both three and five (range is from 1 to 26).

In [5]:
for i in range(1,26):
    if i%3==0 and i%5==0:
        print(i,"Python Coding")
    elif i%3==0:
        print(i,"Python")
    elif i%5==0:
        print(i,"Coding")

3 Python
5 Coding
6 Python
9 Python
10 Coding
12 Python
15 Python Coding
18 Python
20 Coding
21 Python
24 Python
25 Coding

### 6. Write a program to display “hello world” 5 times without changing the given while condition (while count<=10).

In [8]:
count=6
while(count<=10):
    print("hello world")
    count=count+1

hello world
hello world
hello world
hello world
hello world

### 7. Write a program to find the factors of 24?

In [11]:
input_number=24
for i in range(1,25):
    if input_number%i==0:
        print(i)

1
2
3
4
6
8
12
24

### 8. Write a program to i) extract name elements alone, ii) multiply the number element by 6.07, iii) check whether  the name element is carbon (use map). 
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]

In [128]:
d=[{'name':'hydrogen','number':1,'weight':1.0},{'name':'carbon','number':2,'weight':4.002}]
print(d[0]['name'])
print(d[1]['name'])

hydrogen
carbon

In [89]:
mul=6.07
a=d[0]['number']
print(a*mul)
b=d[1]['number']
print(b*mul)

6.07
12.14

In [126]:
x=(d[1]['name'])
print(list(map(lambda x:x,x)))

['c', 'a', 'r', 'b', 'o', 'n']

### 9. Write a Program to print inverted half pyramid using an asterisk (star) (get the row count from the user).

In [48]:
row=int(input("row count= "))
for i in range(row,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

row count= 5
* * * * *
* * * *
* * *
* *
*

### 10. Write a Python Program to swap the first and last elements in the list
1.	Get the input count of "number of elements in a list" 
2.	Get the input of the elements one by one and create a list
3.	Create a  program to swap the first and last elements in the list
4.	Display the results of the list before and after

In [52]:
count=int(input("number of elements in a list: "))
lst=[ ]
for i in range(0,count):
    elements=int(input("elements: "))
    lst.append(elements)
print("List:",lst)
lst[0],lst[-1]=lst[-1],lst[0]
print("new list:",lst)

number of elements in a list: 4
elements: 10
elements: 20
elements: 30
elements: 40
List: [10, 20, 30, 40]
new list: [40, 20, 30, 10]

#### 11. Write a program that accepts a string from the user and calculate the number of digits and letters present in the string.

In [69]:
string=input("enter a string that contains numerals: ")
num='1234567890'
a=[i for i in string if i in num]
print("numbers in string:",a,"\ncount=",len(a))
b=[i for i in string if i not in num]
print("letters in string:",b,"\ncount=",len(b))

enter a string that contains numerals: arch12med54eng980
numbers in string: ['1', '2', '5', '4', '9', '8', '0']
count= 7
letters in string: ['a', 'r', 'c', 'h', 'm', 'e', 'd', 'e', 'n', 'g']
count= 10